.collection {
  padding: 88px 0;

  @include mobile {
    padding: 24px;
  }
}

.collection__title {
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 8px;
  }
}

.collection__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @include mobile {
    gap: 16px;
  }
}

.collection__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  @include mobile {
    gap: 24px;
  }
}

.collection__card {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
  }

  transition: transform 1s;

  &:hover {
    transform: scale(1.02);

    &::after {
      border: 3px solid white;

      @include mobileXS {
        display: none;
      }
    }
  }
}

.collection__card-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;

  @include mobileXS {
    position: unset;
  }
}
