.follow {
  padding-bottom: 88px;

  @include mobile {
    padding-bottom: 24px;
  }
}

.follow__title {
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 8px;
  }
}

.follow__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.follow__grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.follow__grid :nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
