.footer {
  background-color: #000000;
  padding: 24px 0;
  font-size: 32px;
  color: #fff;

  @include mobile {
    padding: 8px 0;
  }
}

.footer__copyright {
  padding-left: 32px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  text-transform: capitalize;
  color: #cbcbcb;

  @include mobile {
    padding-left: unset;
  }
}
